XML/Estudiar/4/4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="nota" type="Tnota"></xs:element>

    <xs:complexType name="Tnota">

    <xs:sequence>
        <xs:element name="de" type="xs:string"/>
        <xs:element name="para" type="xs:string" fixed="Raquelita123@gmail.com"/>   
        <xs:element name="tema" type="xs:string" />  
        <xs:element name="texto" type="xs:string" />
        <xs:element name="fecha" type="xs:date" />
        <xs:element name="prioridad" type="xs:integer" fixed="0"/>
    </xs:sequence>

    </xs:complexType>


</xs:schema>